/* css for login form */
body {
    background-image: url('../Pictures/background-heart.jpg');
    background-size: 100%;
}

.navbar {
    background-color: #fff !important;
    font-size: 16px;
}

.searchBar {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px;
    padding-bottom: 0px;
}

.center-form {
    background-color: white;
    padding: 40px;
    margin-top: 15vh;
    overflow: auto;
}

.center-form h1{
    text-align: center;
}

.center-form tr > td:first-child {
    width: 35%;
}

.center-form td > font {
    width: 40%;
    float: left;
}

.center-form td > input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
}

/*Manage Article Page*/
.articleInfo {
    background-color: white;      
}

/*View Articles*/

.title {
    font-size: 30px;
    margin: 50px 0px 20px 0px;
}

.categoryTitle {
    font-style: italic;
    /*text-decoration: underline;*/
    font-size: 36px;
    text-align: center;
    margin: 50px 0px 20px 0px;
}

.homeMainArticle {
    background-color: #fff;
    padding: 5%;
}

.homeMainArticle font{
    font-size: 22px;
}

.homeMainArticle i{
    position: absolute;
    bottom: 0.5%;
    right: 7%;
    font-size: 12px;
    color: #bbb;
}

.homeMainArticleImg {
    padding-top: 75%;
    background-size: cover;
    background-position: center;
}

.homeArticle {
    float: left;
    width: 67%;
    background-color: #fff;
    padding: 5%;
}

.homeArticle font{
    font-size: 18px;
}

.homeArticle > i{
    position: absolute;
    padding-top: 12%;
    right: 25px;
    font-size: 12px;
    color: #bbb;
}

.homeArticleImg {
    float: left;
    width: 33%;
    padding-top: 25%;
    background-size: cover;
    background-position: center;
}

/*article details*/

.article-detail {
    background-color: #fff;
    padding: 2% 5%;
    margin-bottom: 1px;
    overflow: auto;
}

.article-detail img {
    width: 100%;
}

.article-detail .article-datetime {
    font-size: 13px;
    color: #bbb;
}

.article-detail .article-views {
    font-weight: bold;
}

.article-detail .article-author {
    font-weight: bold;
    float: right;
}
.article-detail .article-approver {
    font-weight: bold;    
}
.article-detail .article-lastModified {
    font-weight: bold;   
    float: right;
}
.article-detail h1 {
    margin-top: 5px;
    font-weight: bold;
}

.article-detail hr {
    border: 0.5px solid #bbb;
    transform: scaleX(1.111);
}

.related-article {
    background-color: rgba(255, 255, 255, 0.65);
}

.more-control {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    border: 1px solid #666;
    background-color: white;
    border-radius: 50%;
    padding: 7px 7px 2px 7px;
}

.comment {
    padding: 2%;
}

.comment h4{
    padding-left: 30px;
}

.comment hr{
    transform: scaleX(1.0416);
}

.comment-form {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;
}

.comment-detail {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.comment-detail .character {
    background-color: #666;
    color: white;
    font-weight: bold;
    padding: 6px;
    margin-right: 6px;
}

.comment-detail .delete {
    position: absolute;
    top: -15px;
    right: -10px;
    color: black;
}

.comment-detail i {
    position: absolute;
    bottom: -15px;
    right: 0px;
    font-size: 12px;
    color: #bbb;
}

/*View staff page*/

.grid-staff {
    background-color: white;
    color: #666;
    padding: 10px 20px;
    margin: 15px 0px;
    overflow: auto;
}

.grid-staff h3 {
    text-align: center;
}

.grid-staff-create {
    margin: 10px 0px;
    border: 2px #666 dashed;
}

.grid-staff-create font {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Upload article page*/

#editarea {
    background-color: #fff;
    padding: 5%;
    min-height: 100vh;
}

#editarea img{
    width: 100%
}

.editTool {
    background-color: #fff;
    padding: 8%;
    overflow: auto;
}

#uploadArticle .editTool {
    padding-bottom: 0%;
}

#uploadimg .editTool {
    padding-top: 15px;
}

/*Statistic Page*/
.statisticContainer{
    padding-top: 40px;
    height: 50vw;
}
.statisticContainer h1{
    margin-top: 0px;
    margin-bottom: 5vh;
    margin-left: 10%;
}
.statisticContainer h3{
    color: red;    
    margin-left: 10%;
}
.statisticContainer .metric1 {
    margin-left: 10%;
    font-size: 20px;
    margin-top: 20px;
}
.statisticContainer .metric2 {
    margin-left: 10%;
    font-size: 15px;                
}            
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.statisticDate {  
    width: 50% !important;
    margin-left: 10%;                
}       
.statisticDateContainer {
    margin-top: 10%;
    margin-bottom: 10%;
}
.wwFormTable {
    width: 100%;                
}
.wwFormTable .btn {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: left;
}

/* add subcat page*/
#addSubcatForm > .form-group *{
    width: 80%;
    margin-left: 10%;
}
.form-group label{
    width: 39%;
}

.col-md-4 > .addSubcatAlert{
    margin-left: 10%;
}
.col-md-4 > form > .btnAddSubcat{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 3%;
}

/* modify subcat page*/
.modifySubcatContainter {
    background-color: white;
}
.modifySubcatTable th, .modifySubcatTable td{
    text-align: center;
}
.modifySubcatTable .TR td {
    vertical-align: middle;
}
.modifySubcatTable tr th:first-child {
    width: 5%;
}
.modifySubcatTable tr th:nth-child(2) {
    width: 17%;
}
.modifySubcatTable tr th:nth-child(3) {
    width: 17%;
}
.modifySubcatTable tr th:nth-child(5) {
    width: 5%;
}
.modifySubcatTable tr th:nth-child(6) {
    width: 8%;
}