/* css for login form */
.bodyLogin {
    background-color: #eeeeee;
}
#loginFormContainer {
    background-color: white;
    margin-top: 23vh;
    height: 54vh;
    overflow: auto;
}
.labelLogin {
    text-align: center;
}
.loginForm {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
#loginButton {
    width: 100%;
    margin-top: 10px;
}


